.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: var(--lightBrownColorDarker);
}

.section3.dark {
  background-color: var(--brownOrangeDarkDarkColor);
}

.section3::after {
  content: "";
  background-color: var(--brownOrangeLightColor);
  height: calc(2 / 1920 * 100vw);
  width: 100%;
  bottom: 0;
  display: block;
  position: absolute;
}

.section3-header {
  margin-bottom: 20px;
  color: var(--brownOrangeDarkColor);
}

.section3-header.dark {
  color: var(--lightOrangeBrownColor);
}

.section3-header:hover::after {
  width: calc(275 / 1920 * 100vw);
  background-color: var(--orangeBrownColor);
}

.section3-time,
.section3-date,
.section3-dish,
.section3-extra,
.section3-price,
.section3-greeting {
  font-family: Neucha;
  font-size: calc(35 * var(--desktopProportions));
  margin: 0;
  color: var(--brownOrangeDarkColor);
  border-radius: 30px;
}

.section3-time.dark,
.section3-date.dark,
.section3-dish.dark,
.section3-extra.dark,
.section3-price.dark,
.section3-greeting.dark {
  color: var(--orangeBrownColor);
}

.section3-time {
  margin-bottom: 25px;
}

.section3-date {
  margin-bottom: 20px;
}

.section3-dish,
.section3-extra {
  margin-bottom: 5px;
}

.section3-greeting {
  margin-bottom: 15px;
}
