body {
  background: #fffbdb;
  position: relative;
}

/* Header */

.header {
  display: flex;
  max-height: calc(128 / 1920 * 100vw);
  background: rgba(105, 53, 5, 0.35);
  padding-top: calc(8 / 1920 * 100vw);
  padding-bottom: calc(8 / 1920 * 100vw);
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  line-height: calc(27 / 1920 * 100vw);
}

.header::after {
  content: "";
  background-color: #b99162;
  width: 100%;
  height: calc(2 / 1920 * 100vw);
  display: block;
  position: absolute;
  bottom: 0;
}

.header-logo {
  width: calc(100 / 1920 * 100vw);
  height: calc(100 / 1920 * 100vw);
  padding: calc(5 / 1920 * 100vw);
}

.header-nav {
  align-items: center;
}

.header-nav-home {
  margin-right: calc(24 / 1920 * 100vw);
}

.header-nav-pages {
  transition: height 250ms, border-color 250ms ease-out;
  border-left: 1px solid black;
  padding-left: calc(32 / 1920 * 100vw);
  height: calc(88 / 1920 * 100vw);
  align-items: center;
}

.header-nav-pages:hover {
  transition: height 250ms, border-color 250ms ease-in;
  border-color: #855200;
  height: calc(78 / 1920 * 100vw);
}

.header-nav,
.header-nav-pages {
  display: flex;
}

.header-nav-pages-item-link {
  font-family: Jura;
  font-size: calc(20 / 1920 * 140vw);
  font-style: normal;
  font-weight: 400;
  line-height: calc(29 / 1920 * 100vw);
  letter-spacing: 0em;
  color: #b99162;
  transition: color 500ms ease-out;
  color: black;
  cursor: pointer;
  position: relative;
}

.header-nav-pages-item-link:hover {
  transition: color 250ms linear;
  color: #fffbdb;
}

.header-nav-pages-item-link::after {
  content: "";
  background-color: #b99162;
  width: 100%;
  height: calc(2 / 1920 * 100vw);
  display: block;
  position: absolute;
  margin-top: calc(26 / 1920 * 100vw);
  opacity: 0;
}

.header-nav-pages-item-link:hover::after {
  opacity: 1;
  transition: opacity 250ms linear;
}

.header-nav-pages-item:not(:last-child) {
  margin-right: calc(30 / 1920 * 100vw);
}

.header-search:hover {
  box-shadow: 0px 0px 7px 0px #0000008a;
}

.header-nav-home,
.header-search {
  width: calc(34 / 1920 * 100vw);
  height: calc(34 / 1920 * 100vw);
  cursor: pointer;
}

.header-field {
  position: absolute;
  font-size: calc(22 / 1920 * 140vw);
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  padding: calc(5 / 1920 * 100vw) calc(70 / 1920 * 100vw)
    calc(15 / 1920 * 100vw) calc(14 / 1920 * 100vw);
  top: calc(100 / 1920 * 100vw);
  right: calc(40 / 1920 * 100vw);
  z-index: 99;
  font-family: Neucha;
  font-style: normal;
  font-weight: normal;
  opacity: 0;
  cursor: default;
  transition: opacity 250ms ease;
}

.header-field-active {
  transition: opacity 250ms ease;
  opacity: 1;
  cursor: text;
}

/* Main */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Jura;
  font-size: calc(41 / 1920 * 140vw);
  font-style: normal;
  font-weight: 400;
  line-height: calc(60 / 1920 * 100vw);
  letter-spacing: 0em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

h1:after,
h2:after,
h3:after,
h4:after,
h5:after,
h6:after {
  content: "";
  background-color: #b99162;
  height: 1.7px;
  display: block;
  position: absolute;
  margin-top: calc(20 / 1920 * 100vw);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  transition: width 500ms, opacity 500ms ease-out;
  width: 0;
}

h1:hover::after,
h2:hover::after,
h3:hover::after,
h4:hover::after,
h5:hover::after,
h6:hover::after {
  opacity: 1;
  width: calc(690 / 1920 * 100vw);
  transition: width 500ms ease-in;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1200 / 1920 * 100vw);
}

/* Section 1 */

.main-section1 {
  padding-top: calc(32 / 1920 * 100vw);
  padding-bottom: calc(42 / 1920 * 100vw);
  background-image: url(../img/section1/background.jpg);
  background-color: rgba(255, 251, 219, 0.6);
  background-blend-mode: lighten;
  background-position: center;
  background-size: calc(1820 / 1920 * 150vw);
  background-repeat: no-repeat;
  position: relative;
}

.main-section1::after {
  content: "";
  background-color: #b99162;
  height: calc(2 / 1920 * 100vw);
  width: 100%;
  bottom: 0;
  display: block;
  position: absolute;
}

.main-section1-header {
  max-width: calc(800 / 1920 * 100vw);
  margin-bottom: calc(30 / 1920 * 100vw);
}

.main-section1-img {
  margin-bottom: calc(43 / 1920 * 100vw);
  display: flex;
  justify-content: center;
}

.main-section1-img-wrapper {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-align: center;
}

.main-section1-img-wrapper:hover .main-section1-img-wrapper-text {
  transform: translateY(calc(24 / 1920 * 100vw));
  transition: transform 350ms;
}

.main-section1-img-wrapper-item {
  width: calc(854 / 1920 * 100vw);
  margin-left: auto;
  margin-right: auto;
}

.main-section1-img-wrapper-text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  transform: translate(0px, calc(99 / 1920 * 100vw));
  transition: transform 350ms linear;
  bottom: 0;
  font-family: Jura;
  font-size: calc(24 / 1920 * 140vw);
  font-style: normal;
  font-weight: 400;
  line-height: calc(29 / 1920 * 100vw);
  letter-spacing: 0em;
  text-align: center;
  padding-top: calc(19 / 1920 * 100vw);
  padding-bottom: calc(19 / 1920 * 100vw);
}

.main-section1-description {
  max-width: calc(1038 / 1920 * 100vw);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main-section1-description-item {
  font-family: Neucha;
  font-size: calc(27 / 1920 * 140vw);
  font-style: normal;
  font-weight: 400;
  line-height: calc(40 / 1920 * 100vw);
  letter-spacing: 0em;
  list-style: disc;
  cursor: default;
  transition: font-size 300ms linear;
  text-align: center;
  margin: 0;
}

.main-section1-description-item:hover {
  color: #725b40;
  font-size: calc(27 / 1920 * 160vw);
  transition: font-size 700ms, color 500ms linear;
}

.main-section1-description-item:not(:last-child) {
  margin-bottom: calc(50 / 1920 * 100vw);
}

.main-section1-description-item::marker {
  color: #b99162;
}

/* Section 2 */

.main-section2 {
  padding-top: calc(32 / 1920 * 100vw);
  padding-bottom: calc(42 / 1920 * 100vw);
  position: relative;
}

.main-section2::after {
  content: "";
  background-color: #b99162;
  height: calc(2 / 1920 * 100vw);
  width: 100%;
  bottom: 0;
  display: block;
  position: absolute;
}

.main-section2-header {
  margin-bottom: calc(50 / 1920 * 100vw);
}

.main-section2-buttons-row1 {
  margin-bottom: calc(32 / 1920 * 100vw);
}

.main-section2-buttons-row1,
.main-section2-buttons-row2 {
  display: flex;
  justify-content: center;
}

.main-section2-buttons-ua,
.main-section2-buttons-eng {
  margin-right: calc(24 / 1920 * 140vw);
}

.main-section2-buttons-item-button {
  font-family: Jura;
  font-size: calc(24 / 1920 * 140vw);
  font-style: normal;
  font-weight: 400;
  line-height: calc(50 / 1920 * 100vw);
  letter-spacing: 0em;
  text-align: center;
  background-color: #b99162;
  color: white;
  cursor: pointer;
  transition: color 250ms, padding-left 250ms, padding-right 250ms,
    font-size 250ms linear;
  padding-left: calc(15 / 1920 * 100vw);
  padding-right: calc(15 / 1920 * 100vw);
  border-radius: 20px;
}

.main-section2-buttons-item-button:hover {
  color: #693505;
  transition: color 250ms, padding 250ms, font-size 250ms linear;
  padding: calc(15 / 1920 * 100vw) calc(25 / 1920 * 100vw)
    calc(15 / 1920 * 100vw) calc(25 / 1920 * 100vw);
  font-size: calc(30 / 1920 * 160vw);
}

/* Section 3 */

.main-section3 {
  background-image: url(../img/section3/background.jpg);
  background-color: rgba(255, 251, 219, 0.6);
  background-blend-mode: lighten;
  background-position: center;
  background-size: calc(1820 / 1920 * 150vw);
  background-repeat: no-repeat;
  padding-top: calc(130 / 1920 * 100vw);
  padding-bottom: calc(90 / 1920 * 100vw);
  position: relative;
}

.main-section3::after {
  content: "";
  background-color: #b99162;
  height: calc(2 / 1920 * 100vw);
  width: 100%;
  bottom: 0;
  display: block;
  position: absolute;
}

.main-section3-slider {
  max-width: calc(1200 / 1920 * 100vw);
  position: relative;
  border: 1px solid #b99162;
  box-shadow: 0px 0px calc(30 / 1920 * 100vw) 0px #b99162;
  overflow: hidden;
}

.wrapper {
  width: calc(1200 / 1920 * 100vw);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.main-section3-header {
  background-color: rgba(0, 0, 0, 0.333);
  color: #fffbdb;
  position: absolute;
  width: calc(1189 / 1920 * 100vw);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  text-align: center;
  padding-bottom: calc(50 / 1920 * 100vw);
  transition: 500ms font-size, 500ms transform ease-out;
  font-size: calc(41 / 1920 * 140vw);
  padding: calc(10 / 1920 * 100vw) calc(5 / 1920 * 100vw)
    calc(50 / 1920 * 100vw) calc(5 / 1920 * 100vw);
}

.main-section3-header-transition {
  transition: 500ms font-size ease-in;
  font-size: calc(51 / 1920 * 140vw);
}

.main-section3-header-hover {
  transition: transform 500ms ease;
  transform: translateY(calc(-80 / 1920 * 100vw));
}

.main-section3-slider-canvas {
  display: flex;
  max-width: calc(1200 / 1920 * 100vw);
}
.main-section3-slider-canvas-img {
  width: calc(1200 / 1920 * 100vw);
  height: calc(674.4 / 1920 * 100vw);
}

.main-section3-slider-arrows {
  position: absolute;
  top: 0;
  margin-top: calc((674.4 - 80) / 2 / 1920 * 100vw);
  z-index: 99;
  margin-left: calc(10 / 1920 * 100vw);
  width: calc(1180 / 1920 * 100vw);
  height: calc(80 / 1920 * 100vw);
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.main-section3-slider-arrows-left,
.main-section3-slider-arrows-right {
  width: calc(80 / 1920 * 100vw);
  height: calc(80 / 1920 * 100vw);
  /* transform: translateY(calc(-281px + 60px / 2)); */
}

.main-section3-slider-arrows-left {
  transform: rotate(180deg);
  left: 0;
}

.main-section3-slider-arrows-right {
  /* margin-left: calc(
    (1200 - (calc(80 / 1920 * 100vw) * 2) - (calc(10 / 1920 * 100vw) * 2)) /
      1920 * 100vw
  ); */
  /* margin-left: calc(1200 - ((80 - 10) / 1920 * 100vw * 2)); */
  /* margin-right: calc(10 / 1920 * 100vw); */
  float: right;
}

.main-section3-slider-balls {
  list-style: none;
  display: flex;
  position: absolute;
  justify-content: center;
  margin: 0;
  padding: 0;
  bottom: calc(10 / 1920 * 140vw);
  left: calc(50% - (70px / 2));
}

.main-section3-slider-balls-item {
  content: "";
  background-color: #fffbdb;
  border-radius: 50%;
  box-shadow: 0px 0px calc(11 / 1920 * 100vw) rgba(0, 0, 0, 0.5);
  width: calc(20 / 1920 * 100vw);
  height: calc(20 / 1920 * 100vw);
  transition: background-color 500ms ease;
}

.main-section3-slider-balls-item:not(:last-child) {
  margin-right: calc(5 / 1920 * 100vw);
}

.active-ball {
  background-color: #b99162;
  transition: background-color 500ms ease;
}

/* Footer */

.footer {
  background-color: #00000093;
  background-image: url(../img/footer/background.png);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  padding-top: calc(20 / 1920 * 100vw);
  padding-bottom: calc(50 / 1920 * 100vw);
}

.footer-title {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: calc(20 / 1920 * 100vw);
}

.footer-title::after {
  content: "";
  background-color: #725b40;
  height: 1.7px;
  display: block;
  position: absolute;
  bottom: calc(-10 / 1920 * 100vw);
  opacity: 0;
  transition: width 500ms, opacity 500ms ease-out;
  width: 0;
}

.footer-title:hover::after {
  opacity: 1;
  width: 100%;
  transition: width 500ms ease-in;
}

.footer-title-header {
  color: white;
  margin-left: 0;
  margin-right: 0;
  font-size: calc(41 / 1920 * 140vw);
}

.footer-title-header::after {
  display: none;
}

.footer-title-icon {
  width: calc(55 / 1920 * 100vw);
  height: calc(55 / 1920 * 100vw);
  margin-right: calc(10 / 1920 * 100vw);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links-row1 {
  margin-right: calc(50 / 1920 * 100vw);
}

.footer-links-item:not(:last-child) {
  margin-bottom: calc(10 / 1920 * 140vw);
}

.footer-links-item-link {
  color: white;
  font-family: Neucha;
  font-size: calc(20 / 1920 * 140vw);
}

.footer-links-item-link:hover {
  color: #b99162;
  transition: color 250ms ease;
}

.phone {
  display: flex;
  align-items: center;
}

.comma {
  color: white;
  margin: 0;
  margin-right: calc(8 / 1920 * 100vw);
  cursor: default;
  font-size: calc(20 / 1920 * 140vw);
  font-family: Neucha;
}

/* Tree */

.tree {
  margin-left: 380px;
  margin-top: 380px;
}

.tree-img {
  width: 390px;
}

.leaf1 {
  transform: translate(7px, -620px) rotate(32deg);
  height: 120px;
  width: 90px;
}

.leaf2-container {
  transform: translate(-238px, -808px) rotate(-23deg);
  position: absolute;
}

.leaf2-text {
  transform: translate(24px, -132px) rotate(48deg);
  width: 145px;
  margin: 0;
  font-size: 40px;
  color: white;
  font-family: "Neucha";
}
